@media only screen and (max-width:991px){
	.container{
		margin-left:-20px;
	}
	.copyright{
		padding:2px 0;
		font-size:11px;
	}
}

@media only screen and (max-width:420px) {
	.container{
		margin-left:-40px;
		padding:7%;
	}
	.image-gallery > li {
  		height: 100%;
		width:100%;
	}
	#alert{
		display:block;
	}
	.section-head{
		margin-bottom:-10px;
	}
}	