@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
--bg-color:#000000;
--new-color: rgb(7, 7, 200);
--new-text-color: rgb(217 ,217 ,217);
--border:.125rem solid #ebeef0;
--lil-border:1px solid #ebeef0;
--new-box-shadow:0 0 .6rem rgba(255,255,255,0.5);
--section-bg:RGB(0 0 0);
}

html{scroll-behavior:smooth;}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	color: var(--new-text-color);
	font-family: "Open Sans", sans-serif;
}

body a{
	text-decoration: none;
}

body{
	background:url("background.jpeg");
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

#progress{
	height: 70px;
	width: 70px;
	background-color: whitesmoke;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 10px;
	box-shadow: var(--new-box-shadow);
	display: grid;
	place-items: center;
	z-index:99;
}
#progress-value{
	display: block;
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-weight: 700;
	background:whitesmoke;
	color:RGB(9 9 9);
}

#header{
	top: 0;
	right: 0;
	left: 0;
	padding: 0px 6%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	z-index:99;
	background: rgba(8,8,134,0);
	position: sticky;
	transition: 0.3s;
}

#header.scrolled{
	background: rgba(8,8,134,1);
	box-shadow: 2px 6px 18px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 6px 18px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 6px 18px 2px rgba(0,0,0,0.5);
}

@keyframes fade-in {
	from{
		opacity:0;
		scale:0.7;
	}
	to{
		opacity:1;
		scale:1;
	}
}
.active{
	opacity: 0.7;
}

.container-fluid{
	min-height: 400px;
    position: relative;
    height: 70vh;
    width: 100%;
}
.overley{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo{
	font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 900)));
    text-decoration: none;
    color:white !important;
    background-color: transparent;
    font-family: 'Lobster', sans-serif;
    position: relative;
}

.navbar {
	display: flex;
	align-items: center;
}
.navbar ul{
	display: flex;
	align-items: center;
	gap: 1.2rem;
	color: white;
	margin-top: 15px;
}
.navbar ul span{
	visibility:hidden;
}
.navbar ul li a{
	color:whitesmoke;
	font-family: 'Baloo Paaji', cursive;
	position: relative;
	font-size:18px;
}
.navbar ul li a.main{
	color:#fff;
}
.navbar ul li a:hover{
	text-decoration:underline;
	color:#fff;
}
 .bug i {
	font-size: 1.2rem;
	color: white;
	font-weight: 600;
  	cursor: pointer;
}
.bug{
	position: relative;
	margin:0;
}
.bug span{
	display:none;
}
.harmbugger{
	position: absolute;
	right: 0;
	top:-15px;
	z-index:99;
}
.main-header{
	display: grid;
	justify-content: center;
	align-items: center;
	padding:6%;
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,  0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1.0));
}
.up{
	font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 900)));
    font-weight: 500;
    color: RGB(217 217 217);
    position: relative;
   display: block;
    font-family: 'Baloo Paaji', cursive;
    
}
.down{
	font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 900)));
    margin-bottom: 0;
    position: relative;
    font-family: 'Baloo Paaji', cursive;
}
.downs{
	font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 900)));
    position: relative;
    font-family: 'Baloo Paaji', cursive;
}
.full{
	 font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    margin-top: 5px;
    position: relative;
	font-weight:bold;
}
.button{
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid;
    width: 9rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   	color: #fff;
    background-color: var(--new-color);
    border-color: var(--new-color);
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
}
.button:hover, .button-3:hover, .iconss i:hover{
	background:white;
	color: var(--new-color);
}
.iconss{
	color: white;
	text-align: left;
	display: flex;
	z-index:9;
	margin:10px 0 0;
}
.iconss i{
	border: 1px solid var(--new-color);
	font-size: 1.3rem;
	margin-right:1.7rem;
	border-radius: 50px;
	height: 45px;
	width: 45px;
	background: rgb(7, 7, 200);
	color:  #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/** about start **/
.about{
	padding: 3% 10%;
	display: flex;
	grid-template-columns:auto auto;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 1.5rem;
	animation: none;
	animation-timeline: view();
	animation-range:entry 50% cover 50%;
	transition: transform .55s;
	background:var(--section-bg);
	width:100%;
	scroll-margin: 120px;
}
.img a img{
width: 100%;
	border:2px var(--new-color) solid;
}
.content{
	max-width: 62%;
	
}
.content p{
	font-size: 1rem;
	color: var(--new-text-color);
}
.content h1{
	color: var(--new-color);
	font-family: 'Baloo Paaji', cursive;
	font-size: 2.2rem;
}
.content h1:nth-child(1){
	font-size:1.7rem;
}
.content .para{
	font-size:.95rem;
}
.content .interest{
	display:flex;
}
.content .interest p{
	padding:3px 5px;
}
.content .interest p i{
	padding:5px;
	color:var(--new-color);
}
.contents h1{
	color: var(--new-color);
	font-family: 'Baloo Paaji', cursive;
	font-size: 2.2rem;
	text-align: center;
}
.contents p{
	font-size:.95rem;
	text-align: center;
	color: var(--new-text-color);
}

/** aos **/
.aos{
	background:var(--section-bg);
	padding:3% 10%;
	scroll-margin: 120px;
}
.aos-con{
	display:grid;
	grid-template-columns:auto auto;
}
.special-con-col{
	width:100%;
	padding:30px;
}
.active-loader{
	width:100%;
	height:10px;
	position:relative;
}
.special-name{
	font-size:18px;
	margin-bottom:15px;
	color: #fff;
}
.active-load{
	width:100%;
}
.load-percent{
	font-size:15px;
	background:var(--new-color);
	padding:4px 6px;
	border-radius:3px;
	color: #fff;
}
.loader-load{
	width:100%;
	height:8px;
	background:white;;
	border-radius:5px;
	overflow: hidden;
}
.loading{
	width:100%;
	background:var(--new-color);
	height:100%;
	animation: loading .7s linear;
}
.loading.html{
	width:95%;
}
.loading.css{
	width:90%;
}
.loading.js{
	width:83%;
}
.loading.graphics{
	width:90%;
}
.loading.python{
	width:88%;
}
.loading.it{
	width:72%;
}
@keyframes loading{
	0%{
		opacity:0;
		width:0%;
	}
	100%{
		opacity:1;
	}
}

/*port*/
.port{
	margin-top: 0;
	padding: 3% 10%;
	background:var(--section-bg);
	width:100%;
	scroll-margin: 120px;
}
.Portfolio-1{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}
.min:nth-child(1){
	background-image: url("frontend.avif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
}
.min:nth-child(3){
	background-image: url("graphics.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
}
.min{
	position: relative;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ebeef0;
	text-align: center;
	padding: 8px 0px;
	transition:.3s ;
	width: 100%;
	height: 300px;
	box-sizing: border-box;
   	margin-top: 50px;
	background-image: url("bcend.avif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
	position: relative;    
}
.one{
	visibility: hidden;
}
.min:hover .one{
	visibility: visible;
	
}
.icon{
	padding-top: 0;
}
.box-1 i{
	font-size: 3rem;
	color: #fff;
	padding: 2rem 1rem;
	position: relative;
}

.box-1 .one h1{
	font-family: 'Baloo Paaji', cursive;
	font-size: 1.5rem;
	color: var(--new-color);
	font-weight: 500;
	position: relative;
}
.box-1 .one span{
	margin-top: .67rem;
	position: relative;
	color: #fff;
}

.overley-1{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility:hidden ;
    opacity: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 100%);
    transition: all, 0.3s;
    width: 0;
    height: 0;
    border-radius: 50%;
	z-index: 0;
}
.min:hover .overley-1{
	opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
/**hire**/
.hire{
	background: var(--new-color);
	scroll-margin: 120px;
}
.hire-divi{
	padding: 30px 4%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.hire-1 p{
	color: white;
}
.hire-1 .p{
	color: white;
	font-family: 'Baloo Paaji', cursive ;
	font-size: 1.1rem;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
.button-2{
    background: #fff;
    border-color: #695aa6;
    transition: 0.15s;
    text-align: center;
    padding: 12px 16px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
	color:var(--new-color);
    font-family: 'Baloo Paaji', cursive ;
    font-weight: 800;
    font-size: 1.3rem;
}
.button-2:hover{
    background:#ececec;
}
/** tetsimonial **/
.Testimonial{
	padding: 3% 12%;
	background:var(--section-bg);
	width:100%;
	scroll-margin: 120px;
}
.divi-box{
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-top: 40px;
gap: 4rem;
}
.boxe{
	border: 1px solid  lightgrey;
	padding: 16px 10%;
}
.boxes{
	position: relative;

}
.boxe p{
	color: #fff;
}
.boxe span{
	font-family: 'Baloo Paaji', cursive;
	font-size: 1.3rem;
	color: var(--new-color);
	font-weight: 400;
	padding-top: 10px;
	
}
.image{
	position: absolute;
	top: 40px;
	left: -40px;
}
.image img{
	width: 30%;
	border-radius: 50%;
}

/* gallery */
.blog{
	background:var(--section-bg);
	width:100%;
	padding:3% 0;
	scroll-margin: 120px;
}
/** contact **/
.contact{
	padding: 3% 0%;
	margin-top: 0;
	background:var(--section-bg);
	scroll-margin: 120px;
}
form{
text-align: center;
width: 65%;
margin: 0 auto;



}
.form-1{
	display: flex;
	gap: .5rem;
}
form .name{
width: 100%;
padding:6px 8px;
margin-top: 20px;
font-size: 1.2rem;
	color:black;
}
textarea{
	width: 100%;
	resize: none;
	padding: 06px 12px;
	font-size: 1.2rem;
	margin-top: 10px;
	color:black;
}
.button-3{
	display: inline-block;
	text-align: center;
	padding: 8px 45px;
	background: var(--new-color);
	margin-top: 10px;
    border: 1px solid;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-radius:5px;
}
.contact{
	text-align: center;
	font-size:  2.55rem;
}
.contact div{
	margin-top:10px;
}
.contact div p{
	font-size:15px;
}
.contact div a{
	display: inline-block;
	text-align: center;
	padding: 8px 13px;
	background: var(--new-color);
	margin-top: 10px;
    border: 1px solid;
	color: white;
	font-size: 15px;
	cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-radius:5px;
}	
.contact div a i{
	color:white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size:13px;
}	
.contact div a:hover{
	background:#181889;
}
/**FOOTER **/
.footer{
	background:rgb(0, 0, 0);
}
.footer-1{
	margin-top: 0;
	display: flex;
}

.empty{
	border-top: 1px solid  lightgrey;
	margin: 0 10%;
}